body{
  text-align: center;
}

p {
  display: none;
}

img {
  width: 100%;
}

.jumbotron {
  background-image: url("../img/walrus-stache.jpg");
  background-color: #cccccc;
}

.jumbotron h1 {
  color: yellow;
  text-shadow: 5px 5px 5px black;
}

.flashcard {
  background-color: lightgray;
  float: none;
  margin: 2px auto;
}

.row{
  margin: 2px auto;
}
